In [1]:
'''Python - Set
A set is a mutable collection of distinct hashable objects, same as the list and tuple. It is an unordered collection of objects, meaning it does not record element position or order of insertion and so cannot access elements using indexes.

The set is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.

A set object contains one or more items, not necessarily of the same type, which are separated by a comma and enclosed in curly brackets {}. The following defines a set object with even numbers'.''

'Python - Set\nA set is a mutable collection of distinct hashable objects, same as the list and tuple. It is an unordered collection of objects, meaning it does not record element position or order of insertion and so cannot access elements using indexes.\n\nThe set is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.\n\nA set object contains one or more items, not necessarily of the same type, which are separated by a comma and enclosed in curly brackets {}. The following defines a set object with even numbers.'

In [2]:
even ={2,4,6,8}
print(even)
emp={1,'steve',10.5, True}
print (emp)

{8, 2, 4, 6}
{1, 10.5, 'steve'}

In [3]:
'''A set doesn't store duplicate objects. Even if an object is added more than once inside the curly brackets, only one copy is held in the set object. Hence, indexing and slicing operations cannot be done on a set object.'''

"A set doesn't store duplicate objects. Even if an object is added more than once inside the curly brackets, only one copy is held in the set object. Hence, indexing and slicing operations cannot be done on a set object."

In [4]:
'''The order of elements in the set is not necessarily the same as the order given at the time of assignment. Python optimizes the structure of a set for performing operations over it, as defined in mathematics.'''

'The order of elements in the set is not necessarily the same as the order given at the time of assignment. Python optimizes the structure of a set for performing operations over it, as defined in mathematics.'

In [5]:
nums={1,2,2,3,4,4,5,6}
print(nums)

{1, 2, 3, 4, 5, 6}

In [7]:
myset={(10,10),10,20}
print(myset)

{(10, 10), 10, 20}

In [8]:
myset={[10,10],10,20}
print(myset)

TypeError: unhashable type: 'list'

In [9]:
myset={{10,10},10,20}
print(myset)

TypeError: unhashable type: 'set'

In [10]:
emp={} # empty dictionary
s=set() #empty set

In [11]:
'''The set() function also use to convert string, tuple, or dictionary object to a set object, as shown below.

Example: Convert Sequence to Set'''

'The set() function also use to convert string, tuple, or dictionary object to a set object, as shown below.\n\nExample: Convert Sequence to Set'

In [12]:
s=set('hello')#convert sting to set
print(s)

{'e', 'h', 'l', 'o'}

In [13]:
s=set((1,2,3,4,5))# convert tuple to set
print(s)

{1, 2, 3, 4, 5}

In [14]:
d={1:'one',2:'two'}
s=set(d)#convert dict to set
print(s)

{1, 2}

In [15]:
'''Modify Set Elements
Use built-in set functions add(), remove() or update() methods to modify set collection.

Example:'''

'Modify Set Elements\nUse built-in set functions add(), remove() or update() methods to modify set collection.\n\nExample:'

In [16]:
s=set()#add an element
s.add(10)
s.add(20)
s.add(30)
print(s)

{10, 20, 30}

In [17]:
primenums={2,3,4,5}
s.update(primenums)#update set with another set
print(s)

{2, 3, 20, 4, 5, 10, 30}

In [18]:
s.remove(2)#remove an element
print(s)

{3, 20, 4, 5, 10, 30}

In [19]:
'''Python Set clear() Method
The set.clear() method removes all the elements from the set.

Syntax:
set.clear()'''

'Python Set clear() Method\nThe set.clear() method removes all the elements from the set.\n\nSyntax:\nset.clear()'

In [21]:
langs={'python','c++','c','go'}
langs.clear()
print(langs)

set()

In [22]:
'''python set copy() method
the set.copy() method returns a shallow copy of the set. 
syntax:
set.copy()
'''

'python set copy() method\nthe set.copy() method returns a shallow copy of the set. \nsyntax:\nset.copy()\n'

In [25]:
langs={'python','c++','java'}
copiedlangs=langs.copy()
print("original set:",langs)
print("copied set",copiedlangs)

original set: {'c++', 'java', 'python'}
copied set {'c++', 'java', 'python'}

In [26]:
a={1,2,3,4,5,6,7,8}
b={4,5,6,7,8,9,10}
print(a-b)
print(b-a)

{1, 2, 3}
{9, 10}

In [27]:
'''Python Set difference() Method
The set.difference() method returns the new set with the unique elements that are not in the other set passed as a parameter.

Syntax:
set.difference(*other_set)'''

'Python Set difference() Method\nThe set.difference() method returns the new set with the unique elements that are not in the other set passed as a parameter.\n\nSyntax:\nset.difference(*other_set)'

In [29]:
nums1={1,2,3,4,5}
nums2={4,5,6,7,8,8}
nums3=nums1.difference(nums2)
nums4=nums2.difference(nums1)
print(nums3)
print(nums4)

{1, 2, 3}
{8, 6, 7}

In [30]:
'''Python Set intersection() Method
The set.intersection() method returns a new set with the elements that are common in the given sets.

Syntax:
set.intersection(*other_sets)'''

'Python Set intersection() Method\nThe set.intersection() method returns a new set with the elements that are common in the given sets.\n\nSyntax:\nset.intersection(*other_sets)'

In [33]:
x={1,2,3,4,5}
y={1,2,5,7,6,2}
z=x.intersection(y)
print(z)

{1, 2, 5}

In [34]:
x={1,2,3,4,5}
y={1,3,5,7}
z={2,4,6,3,1}
w=x.intersection(y,z)
print(w)

{1, 3}

In [35]:
'''Python Set union() Method
The set.union() method returns a new set with distinct elements from all the given sets.

Syntax:
A.union(*other_sets)'''

'Python Set union() Method\nThe set.union() method returns a new set with distinct elements from all the given sets.\n\nSyntax:\nA.union(*other_sets)'

In [39]:
nums={1,2,3,4,5}
nums2={4,5,6,7,8,9}
distinctnums=nums.union(nums2)
print(distinctnums)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [41]:
#differnece between remove and discard 
myset={'one','two','three','four','five','six','seven'}
myset.remove('nine')#wnen non existing element is deleted by remove cause error.

KeyError: 'nine'

In [44]:
myset={'one','two','three','four','five','six','seven'}
myset.discard('nine') #wnen non existing element is deleted by discard cause ignore.

In [48]:
a={3,5,4,3,5,5,2,3}
b={2,5,4,3,6,3,6}
c={1,2,3,4,5}
a | b #union of a and b (all elements from both sets . no duplicate)
a.union(b)#union of a and b
a.union(b,c)#union of a,b and c

{1, 2, 3, 4, 5, 6}

In [49]:
a={1,2,3,4,5}
b={4,5,6,7,8,9}
a^b #symmetric difference (set of element in a and b but not in both.)

{1, 2, 3, 6, 7, 8, 9}

In [50]:
a={1,2,3,4,5,6,7,8,9}
b={1,2,4,5,6,7}
c={10,20,30,40}
b.issubset(a) #set b is said to be the subset of a if all elements of b are in a

True

In [51]:
a.issuperset(b) #set a is said to be the superset of set b if all elements of b are in a

True

In [52]:
b.isdisjoint(a) #two sets are said to be disjoint if they have noo common set in c.

False

In [54]:
sum(a)

45

In [55]:
max(a)

9

In [56]:
min(a)

1

In [57]:
len(a)

9

In [58]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]