In [ ]:
#argument function
#syntax
#def function name(arg1,ar2..):   #definition
#function name(arg1,arg2)

In [2]:
def addition(a,b):
    c=a+b
    print("the sum is ",c)
addition(12,23)

the sum is  35

In [3]:
def check(n):
    if n%2==0:
        print("even number")
    else:
        print("odd number")
check(89)

odd number

In [4]:
def largest(a,b,c):
    if a>b:
        if a>c:
            print("a is greatest")
        else:
            print("c is greatest")
    else:
        if b>c:
            print("b is greatest")
        else:
            print("c is greatest")
largest(23,43,12)

b is greatest

In [5]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    print("the factorial is",f)
factorial(6)

the factorial is 720

In [7]:
def reverse(n):
    rev=0
    while n>0:
        rev=rev*10+n%10
        n=n//10
    print("the reverse is", rev)
reverse(345)

the reverse is 543

In [9]:
def prime(n):
    co=0
    for i in range(1,n+1):
        if n%1==0:
            co=co+1
    if co==2:
        print("prime number")
    else:
        print("not prime nuber")

prime(23)

not prime nuber

In [ ]:
#return type function
#def funtion name(arg 1, arg 2):
#return value\values
#var=function name(arg 1,arg 2)
#print(var)
#print (function name(arg1,arg2))

In [13]:
def addition (a,b):
    return a+b
c=addition(45,56)
print(c)
print ("the sum is ",addition(67,560))

101
the sum is  627

In [14]:
def mathop(a,b):
    return a+b,a-b,a*b,a/b,a%b
res=mathop(34,12)
print(res)
print(type(res))

(46, 22, 408, 2.8333333333333335, 10)
<class 'tuple'>

In [28]:
def mathop(a,b):
    return a+b,a-b,a*b,a/b
x,y,z,w=mathop(34,12)
print("add",x)
print("sub",y)
print("div",z)
print("pro",w)

add 46
sub 22
div 408
pro 2.8333333333333335

In [18]:
def check(n):
    if n%2==0:
        return"even"
    else:
        return "odd"
print(check(87))

odd number

In [25]:
def factorial(n):
    f=1
    for i in range(1,n+1):
        f=f*i
    return f
res=factorial(5)
print(res)
print("the factorial is ",factorial(6))

120
the factorial is  720

In [26]:
#placeholder argument
#def sums(a,b=400,=600)
#     return a+b+c
#print(sums(100))   #1100
#print(sums(200,500))#1300
#print(sums(12,23,34))#69

In [35]:
def hello(a,b):
    return("name is {} and gender is {}" .format(a,b))
hello("charles","male")

'name is charles and gender is male'

In [36]:
def hello (name,age=32,gender="male"):
    return ("my name is {} and my age is {} and gender is {}" .format(name,age,gender))
hello("eshank")

'my name is eshank and my age is 32 and gender is male'