In [1]:
'''1-tuple is similar to list except that the objects in tuple are immutable whuch means we cannot change the element of ones assigned.
2- when we do not want to change the data over time ,tuple is a preferred data type.
3- iterating over the element of a tuple is faster compared to iterating ovar a list.'''

'1-tuple is similar to list except that the objects in tuple are immutable whuch means we cannot change the element of ones assigned.\n2- when we do not want to change the data over time ,tuple is a preferred data type.\n3- iterating over the element of a tuple is faster compared to iterating ovar a list.'

In [2]:
tup1=() #empty tuple
print (tup1)

()

In [3]:
tup2=(19,30,40)
print(tup2)

(19, 30, 40)

In [4]:
tup3=(10.77,30.66,60.89)
print(tup3)

(10.77, 30.66, 60.89)

In [6]:
tup4=('one',
    'two','three'
     )
print(tup4)

('one', 'two', 'three')

In [7]:
tup5=('asif',25,(50,100),(150,346))
print(tup5)

('asif', 25, (50, 100), (150, 346))

In [13]:
tup6=(100,'asif',17.765 # 
     )
print(tup6)

(100, 'asif', 17.765)

In [14]:
tup7=('asif',25,[25,100],[150,456],{'john','david'})#tuple of mixed data types
print(tup7)

('asif', 25, [25, 100], [150, 456], {'david', 'john'})

In [15]:
len(tup7)#length of tuple 7

5

In [16]:
tup2[0]#retreive first element of the tuple

19

In [17]:
tup4[0]#retreive first element of the tuple

'one'

In [20]:
tup4[0][0]# nested indexing-access the first character of the first of the first tuple element

'o'

In [21]:
tup4[-1]

'three'

In [22]:
mytuple=('one','two','three','four','five','six','seven','eight')

mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [24]:
mytuple[2:]

('three', 'four', 'five', 'six', 'seven', 'eight')

In [23]:
mytuple[0:3]

('one', 'two', 'three')

In [26]:
mytuple[:3]

('one', 'two', 'three')

In [27]:
mytuple[:2]

('one', 'two')

In [32]:
mytuple[-3:]

NameError: name 'mytuple' is not defined

In [29]:
mytuple[-3:]

('six', 'seven', 'eight')

In [31]:
del mytuple[0]

NameError: name 'mytuple' is not defined

In [33]:
mytuple=('one','two','three','one','two','three')
mytuple.count('one') #count method

2

In [34]:
mytuple.index('one')

0

In [35]:
mytuple2=(43,67,99,6,90,67)
sorted(mytuple2)

[6, 43, 67, 67, 90, 99]

In [38]:
sorted(mytuple2,reverse=True)

[99, 90, 67, 67, 43, 6]

In [39]:
#alternate way to alter in tuple
t1=(12,23,34,5,67,89)
x=list(t1)
x[2]='abhishek'
t1=tuple(x)
print(t1)

(12, 23, 'abhishek', 5, 67, 89)

In [41]:
t1=12,23,4,56,7
a,b,c,d,e=t1
print(a)
print(b)
print(c)
print(d)
print(e)

12
23
4
56
7

In [42]:
t2=(12)
print(type(t2))

<class 'int'>

In [43]:
t2=(12,)
print(type(t2))

<class 'tuple'>

In [44]:
#adding one elemnt in tuple
t1=(1,2,3,4,5,6,7)
ls=list(t1)
ls.append(98)
t1=tuple(ls)
print(t1)

(1, 2, 3, 4, 5, 6, 7, 98)