# if else coondition with lambda

In [7]:
a=lambda x:x*2 if x%2==0 else x  #true if false
a(32)

64

# map function

In [ ]:
#syntax
#map(fun,iter)
#parameter:
#fun:it is a function to which map passes each element of given iterable.
#iter:it is a iterable which is to be mapped.

In [12]:
list(map(lambda x:x+x,[1,2,3,4]))

[2, 4, 6, 8]

In [13]:
def addition(n):
    return(n*2)

In [14]:
number=[12,23,34,45,56]
list(map(addition,number))  #list(map(lambda x:x*2,number))

[24, 46, 68, 90, 112]

In [16]:
numbers1=[1,2,3]
numbers2=[4,5,6]
numbers3=[1,3,5]
result=map(lambda x,y,z:x+y+z,numbers1,numbers2,numbers3)
list(result)

[6, 10, 14]

In [20]:
mypets=['anubhav','bansal','singla','titu']
list(map(lambda x:x.upper(),mypets))

['ANUBHAV', 'BANSAL', 'SINGLA', 'TITU']

In [21]:
mypets=['anubhav','bansal','singla','titu']
new=[]
for i in mypets:
    new.append(i.upper())
print(new)

['ANUBHAV', 'BANSAL', 'SINGLA', 'TITU']

In [22]:
mysting=['a','b','c','d','e']
mynumbers=[1,2,3,4,5]
myname=['xx','yy','zz','ww','dd']
results=list(map(lambda x,y,z:(y,x+z),mysting,mynumbers,myname))
list(results)

[(1, 'axx'), (2, 'byy'), (3, 'czz'), (4, 'dww'), (5, 'edd')]

# filter

* filter(function,iterable)
* filter(0 method returns an iterator that passed the function check for each element in the iterable.

In [23]:
dromes=("demigod","rewire","madam","freer")
palindromes=list(filter(lambda a:a==a[::-1],dromes))
palindromes

['madam']

In [24]:
mylist=[1,2,3,4,5,6]
newlist=list(filter(lambda x:(x%2==0),mylist))
print(newlist)
li=[5,7,22,97,62,77,23,73,61]
finallist=list(filter(lambda x:(x%2 !=0),li))
print(finallist)

[2, 4, 6]
[5, 7, 97, 77, 23, 73, 61]

In [29]:
list2=['one','two','Three','four','five']
upper=list(filter(lambda x: x.isupper() ,list2))
lower=list(filter(lambda x: x.islower() ,list2))
print(lower)
print(upper)

['one', 'two', 'four', 'five']
[]

In [37]:
list3=['one','two','three','four','88','99','44']
numeric= list(filter(lambda x:x.isnumeric(),list3))
alpha=list(filter(lambda x:x.isalpha(),list3))
alphanum =list(filter(lambda x:x.isalnum(),list3))
print(alpha)
print(numeric)
print(alphanum)

['one', 'two', 'three', 'four']
['88', '99', '44']
['one', 'two', 'three', 'four', '88', '99', '44']

In [42]:
scores = [66,77,89,90,76,65,43,32,21]
def is_student (score):
    return score > 75
over75=list(filter(is_student,scores))
over75

[77, 89, 90, 76]